@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:wght@400;700&display=swap');

.App {
  /* text-align: center; */
  background-color: #fafafa;
  font-family: 'Quattrocento Sans';
  min-height: 100vh;

  -moz-animation: fadein 1.5s; /* Firefox */
  -webkit-animation: fadein 1.5s; /* Safari and Chrome */
  -o-animation: fadein 1.5s; /* Opera */
  animation: fadein 1.5s;
}

.refresh{
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
  animation: fade-in-keyframes 1s;
}

.refreshAlt {
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
  animation: fade-in-keyframes 1s;
}

@keyframes fade-in-keyframes {
  from {opacity: 0}
  to {opacity: 1}
}


/* ----------------- DIAGRAM ------------- */
.main-wrapper {
  min-height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.main-figure {
  width: 60%;
  position: relative;
}

img {
  flex-shrink: 0;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #fa4f34;
  opacity: 70%;
  border-radius: 50%;
}

.dot:hover {
  box-shadow: 3 3 15px #fa4f34;
  cursor: pointer;
}

.eye-dot {
  position: absolute;
  top: 12%;
  /* left: 40.5%; */
  left: 31.5%
}

.neck-dot {
  position: absolute;
  top: 21%;
  /* left: 34.5%; */
  left: 21%;
}

.wrist-dot {
  position: absolute;
  top: 45%;
  /* left: 51%; */
  left: 52%;
}

.back-dot {
  position: absolute;
  top: 35%;
  /* left: 33%; */
  left: 19%;
}


/* ------------------------------ INFO CONTENT ------------------------------ */
.info-panel-wrapper {
  min-height: 80vh;
  width: 730px;

  /* For scrolling.*/
  margin-right: 30px;
  max-height: 750px;
  overflow-y: scroll;
}

.info-panel {
  padding: 10px 60px;
}

.info-header {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.info-content {
  line-height: 1.4;
}


/* ----------------- FADE IN ANIMATION ------------- */
@keyframes fadein {
  from { opacity:0;}
  to { opacity:1;}
}
@-moz-keyframes fadein { /* Firefox */
  from { opacity:0; }
  to { opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {opacity:0;}
  to {opacity:1;}
}


::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #2a73ff;
  border-radius: 7px;
}
::-webkit-scrollbar-track-piece {
  background-color: #c7c7c7;
}

/* --------------------------- POPUP ------------------------------- */
.popup-writing {
  padding: 10px 0px;
}

.modal-header {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  padding: 8px 0px;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  border-radius: 3px;
  padding: 40px;
  font-family: 'Quattrocento Sans';

  position:relative;
}

.popup-header {
  font-size: 30px;
  font-weight: bold;
}

.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.x {
  position: absolute;
  top: 20px;
  right: 30px;
}

.x:hover {
  cursor: pointer;
  color: #ff3729;
}

@keyframes anvil {
  0% {
    transform: scale(1) translateY(0px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  1% {
    transform: scale(0.96) translateY(10px);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  100% {
    transform: scale(1) translateY(0px);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

.popup-content {
  -webkit-animation: anvil 0.2s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
}
