/* Miscellaneous things used for info pages (may delete later)*/
.labels {
    display: flex;
    justify-content: space-around;
}

.captions {
    display: flex;
    font-size: 14px;
    color: grey;
    justify-content: center;
}

.captions-box {
    color: grey;
    font-size: 14px;
    padding: 15px;
    /* width: 200px;
    margin-left: 20px;
    margin-right: 20px; */
}
.instructions-box {
    color: grey;
    font-size: 14px;
    padding: 0px 15px;
}

.instructions-box p {
    margin: 0;
}

.standalone-img-box {
    text-align: center;
}

.info-author p {
    margin: 0;
    font-style: italic;
    color: grey;
}

.info-author {
    margin-bottom: 30px;
}

/* --------------- Wrist ---------------*/
.keyboard, .mouse {
    display: flex;
    justify-content: center;
}

/* --------------- Neck --------------- */
.neck-posture {
    display: flex;
    justify-content: center;
}

.neck-posture-good, .neck-posture-bad {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------- Back --------------- */
.back-posture {
    display: flex;
    justify-content: center;
}

.back-posture-good, .back-posture-bad {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------- wrist --------------- */
.wrist-posture {
    display: flex;
    justify-content: center;
}

.wrist-keyboard-posture-good, .wrist-keyboard-posture-bad,.wrist-mouse-posture-good, .wrist-mouse-posture-bad {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------- eye --------------- */
.eye-posture {
    display: flex;
    justify-content: center;
}

.eye-posture-good, .eye-posture-bad {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}