/* Miscellaneous things used for info pages (may delete later)*/
.labels {
    display: flex;
    justify-content: space-around;
}

.captions {
    display: flex;
    font-size: 14px;
    color: grey;
    justify-content: center;
}

.captions-box {
    color: grey;
    font-size: 14px;
    padding: 15px;
    /* width: 200px;
    margin-left: 20px;
    margin-right: 20px; */
}

.standalone-img-box {
    text-align: center;
}

/* --------------- Wrist ---------------*/
.keyboard, .mouse {
    display: flex;
    justify-content: center;
}

/* --------------- Neck --------------- */
.neck-posture {
    display: flex;
    justify-content: center;
}

.neck-posture-good, .neck-posture-bad {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* --------------- Back --------------- */
.back-posture {
    display: flex;
    justify-content: center;
}

.back-posture-good, .back-posture-bad {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}